Thumbs.db
.DS_Store
*.log

node_modules/
*_bundle.js
release*/
npm-debug.log*

build/
coverage/
dist/
mochawesome-report/

test-results.xml
/e2e/performance/perf-test-report.json
test_config.json
.idea
testUserData

.gitattributes

fastlane/README.md
fastlane/report.xml

*.provisionprofile
*.tsbuildinfo

.eslintcache

*.p8

.aider*