Thumbs.db
.DS_Store
*.log

node_modules/
*_bundle.js
release/
npm-debug.log*

build/
dist/

test-results.xml
test_config.json
.idea
testUserData

src/browser/*.png
src/browser/*.svg
src/browser/*.woff2
src/browser/assets/fonts/