# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Set our files to use lf, so our prettify will always be happy
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf