html {
  height: 100%;
}
body {
  min-height: 100%;
}

.NewServerModal-noBottomSpace {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.modal {
  background-color: white;
  color: #333;
  border-radius: 4px;
  border: 1px solid;
  border-color: #666;
  padding: 5px;
  display: block;
  font-size: 14px;
  line-height: 1.4;
  width: 1000px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

form.modalForm {
  padding-left: 10px;
  display: block;
  color: #333;
  font-size: 14px;
  line-height: 1.4;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  margin-right: 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  box-sizing: border-box;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
}

.form-text {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}

button.modalButton {
  color: #007bff;
  border-color: #007bff;
	display: inline-block;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  box-sizing: border-box;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

button.modalButton:last-child {
  margin-right: 0px;
}

button.modalButton:focus {
  text-decoration: none;
}

button.modalButton:active:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

button.primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

button.primary:focus {
  background-color: #286090;
  border-color: #122b40;
}

button.default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

button.default:focus {
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}

.modalHeader {
  font-size: 18px;
  font-weight: 500;
  margin: 5px;
  padding-bottom: 5px;
  border-bottom: 0px;
}
.modalHeader::after {
  border-bottom: 1px solid #e5e5e5;
  content: '';
  display: block;
  margin-top: 10px;
}

.modalFooter {
  margin: 5px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: right;
  border-top: 0px;
}

.modalFooter::before {
  border-top: 1px solid #e5e5e5;
  content: '';
  display: block;
  margin-bottom: 10px;
}

.pull-left {
  float: left;
}
.modal-error {
  color: #a94442;
}

:invalid .form-control {
  border-color: #a94442;
}

