.BasePage {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-size: cover;
    background-image: url('assets/svg/background-light.svg');

    &.darkMode {
      background-image: url('assets/svg/background-dark.svg');
    }
  }
}