@import url("../_css_variables.scss");

.Header {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100px;
    padding: 0 40px;

    .Header__main {
        display: flex;
        width: 100%;
        height: 100%;
        flex-flow: wrap;
        align-items: center;
        justify-content: space-between;

        .Header__logo {
            width: 170px;

            path {
                fill: var(--center-channel-text);
            }
        }
    }

    &.Header--darkMode {
        .Header__main {
            .Header__logo {
                path {
                    fill: var(--button-color);
                }
            }
        }
    }
}
