body {
    background-color: transparent;
    margin: 0;
}

.LoadingScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100vw;
    height: 100vh;
    vertical-align: middle;
    opacity: 1;
    visibility: visible;
    z-index: 10;
    overflow:hidden;
    
    transition: opacity 150ms 0ms ease-out, visibility 150ms 0ms step-start;
}

.LoadingScreen--darkMode .LoadingScreen__background {
    background-image: url('renderer/assets/svg/background-dark.svg');
}

.LoadingScreen__background
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url('renderer/assets/svg/background-light.svg');
}

.LoadingScreen--loaded {
    opacity: 0;
    visibility: hidden;
    
    transition: opacity 150ms 0ms ease-in, visibility 150ms 0ms step-end;
}
