@use "../css_variables";

.Modal .NewServerModal {
    width: 600px;
    max-width: 600px;

    hr {
        margin-top: 24px;
        border: 0;
        border-top: 1px solid rgba(var(--center-channel-color-rgb), 0.08);
    }

    .Modal_body {
        margin-bottom: 12px;
        
        .Modal__body {
            display: block;
        }
    }
}
    

.NewServerModal__toggle__description {
    display: block;
    margin-top: 0.25rem;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    max-width: 400px;
}

.NewServerModal__advanced-section {
    margin-top: 24px;

    .NewServerModal__advanced-toggle {
        display: flex;
        align-items: center;
        background: none;
        border: none;
        color: var(--button-bg);
        cursor: pointer;
        font-family: inherit;
        font-size: 12px;
        line-height: 16px;
        font-weight: 600;
        padding: 0;

        &:hover {
            text-decoration: underline;
        }

        .icon {
            margin-right: 2px;
            font-size: 12px;
        }
    }

    .NewServerModal__advanced-content {
        margin-top: 24px;
        border-left: 2px solid var(--center-channel-color-16);
    }
}

.NewServerModal__permissions__title {
    margin-top: 24px;
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}