@use "../css_variables";

.Modal .NewServerModal {
    width: 600px;
    max-width: 600px;

    hr {
        margin-top: 24px;
        border: 0;
        border-top: 1px solid rgba(var(--center-channel-color-rgb), 0.08);
    }

    .Modal_body {
        margin-bottom: 12px;
        
        .Modal__body {
            display: block;
        }
    }
}
    

.NewServerModal__toggle__description {
    display: block;
    margin-top: 0.25rem;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    max-width: 400px;
}

.NewServerModal__permissions__title {
    margin-top: 24px;
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}