.ServerDropdownButton {
    background-color: transparent;
    border-width: 0 1px;
    border-color: rgba(61, 60, 64, 0.08);
    border-style: solid;
    display: flex;
    align-items: center;
    font-family: Open Sans;
    overflow: hidden;
    -webkit-font-smoothing: auto;
    max-width: 400px;

    &.disabled {
        opacity: 0.5;
    }

    &:not(.disabled):hover {
        background-color: #f4f4f4;

        .ServerDropdownButton__badge-count, .ServerDropdownButton__badge-unreads {
            border-color: #f4f4f4;
        }
    }

    &:not(.disabled):focus, &.isMenuOpen {
        background-color: #fff;

        .ServerDropdownButton__badge-count, .ServerDropdownButton__badge-unreads {
            border-color: #fff;
        }
    }

    > span {
        color: rgba(61, 60, 64, 0.64);
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        margin-left: 8px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        user-select: none;
    }

    i {
        color: rgba(61, 60, 64, 0.56);
        font-size: 18px;
        line-height: 21px;
    }    
}

.ServerDropdownButton__badge {
    position: relative;
}

.ServerDropdownButton__badge-count {
    background: #F74343;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    color: white;
    font-size: 9px;
    padding: 0px 5px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    letter-spacing: normal;
    -webkit-font-smoothing: auto;

    position: absolute;
    top: -4px;
    right: -2px;
    border: 2px solid #efefef;
    height: 12px;
    line-height: 12px;
    box-sizing: unset;
}

.ServerDropdownButton__badge-unreads {
    background: #579eff;
    border-radius: 100px;
    width: 12px;
    height: 12px;
    position: absolute;
    top: -5px;
    right: -1px;
    border: 2px solid #efefef;
    box-sizing: border-box;
}

.ServerDropdownButton.darkMode {
    border-color: rgba(221, 221, 221, 0.08);

    &:hover {
        background-color: #292929;

        .ServerDropdownButton__badge-count, .ServerDropdownButton__badge-unreads {
            border-color: #292929;
        }
    }

    &:focus, &.isMenuOpen {
        background-color: #1f1f1f;

        .ServerDropdownButton__badge-count, .ServerDropdownButton__badge-unreads {
            border-color: #1f1f1f;
        }
    }

    > span {
        color: rgba(221, 221, 221, 0.64);
    }

    i {
        color: rgba(221, 221, 221, 0.56);
    }

    .ServerDropdownButton__badge-count {
        border-color: #2e2e2e;
    }

    .ServerDropdownButton__badge-unreads {
        border-color: #2e2e2e;
    }

    .ServerDropdownButton__badge-unreads {
        background: #196CAF;
    }
}
