.TeamDropdownButton {
    background-color: transparent;
    border-width: 0 1px;
    border-color: rgba(61, 60, 64, 0.08);
    border-style: solid;
    display: flex;
    align-items: center;
}

.TeamDropdownButton>span {
    color: rgba(61, 60, 64, 0.64);
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    margin-left: 8px;
}

.TeamDropdownButton.darkMode>span, .TeamDropdownButton.darkMode i {
    color: #fff;
}

.TeamDropdownButton i {
    color: rgba(61, 60, 64, 0.56);
    font-size: 18px;
    line-height: 21px;
}

.TeamDropdownButton__badge {
    position: relative;
}

.TeamDropdownButton__badge>i {
}

.TeamDropdownButton__badge-count {
    background: #F74343;
    color: white;
    font-size: 10px;
    text-align: center;
    line-height: 11px;
    height: 16px;
    border-radius: 100px;
    padding: 0.5px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    min-width: 19px;
    letter-spacing: normal;
    -webkit-font-smoothing: antialiased;
    flex: 0 0 19px;
    position: absolute;
    top: -4px;
    right: -2px;
    border: 2px solid #323639;
}

