.TeamListItem {
  display: flex;
}

.TeamListItem:hover {
  background: #eee;
}

.TeamListItem-left {
  flex-grow: 1;
}

.TeamListItem p {
    overflow-wrap: break-word;
    margin-bottom: 0;
}

.TeamListItem h4 {
  overflow: hidden;
  text-overflow: ellipsis;
};
