.upgrade-btns {
  width: 32px;
  height: 32px;
  font-size: 18px;
  line-height: 18px;
  border-radius: 4px;
  margin-top: 4px;
  margin-right: 4px;
  text-align: center;
  color: rgba(63, 67, 80, 0.56);
  background: none;
  border: none;

  &:hover {
    background-color: rgba(63, 67, 80, 0.08);
  }
}

.upgrade-button {
  height: 18px;
  cursor: pointer;

  > i::before {
    margin: 0;
  }
}

.rotate {
  animation: rotation 2s infinite linear;

  > i::before {
    transform: scaleX(-1);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.circle {
  background: #F74343;
  border-radius: 100px;
  width: 12px;
  height: 12px;
  position: relative;
  top: -22px;
  right: -10px;
  border: 2px solid #efefef;
}

.upgrade-btns.darkMode {
  color: rgba(221, 221, 221, 0.56);

  &:hover {
    background-color: rgba(175, 188, 192, 0.08);
  }

  .circle {
    border-color: #2e2e2e;
  }
}