:root {
    --button-bg: #166de0;
    --button-color: #fff;
    --center-channel-text: #3f4350;
    --sidebar-text-active-border: #579eff;
    --denim-button-bg: #1c58d9;
    --denim-sidebar-active-border: #5d89ea;
    --title-color-indigo-500: #1e325c;

    --button-color-rgb: 255, 255, 255;
    --center-channel-color-rgb: 61, 60, 64;
    --center-channel-text-rgb: 63, 67, 80;
    --denim-button-bg-rgb: 28, 88, 217;
}
