@import url("fonts.css");
@import '~@mattermost/compass-icons/css/compass-icons.css';

/* with this, padding doesn't change an element's width & height */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    display: none;
}
::-webkit-scrollbar-thumb {
    background: rgba(63, 67, 80, 0.6);
    border-radius: 4px;
    width: 8px;
}

body {
    margin: 0;
    background-color: transparent;
    font-family: Open Sans;
    overflow: hidden;

    #app {
        width: 328px; // 280px + 24px*2
        padding: 0 24px 24px;

        .DownloadsDropdown {
            background: #ffffff;
            border-radius: 4px;
            border: 1px solid rgba(61, 60, 64, 0.16);
            box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);
            display: flex;
            flex-direction: column;
            max-height: 360px;
            max-width: 280px;
            min-height: 132px;
            padding: 8px 0px;
            width: 280px;

            .DownloadsDropdown__header {
                padding: 6px 20px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .DownloadsDropdown__Downloads {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 20px;
                    color: #3D3C40;
                }

                .DownloadsDropdown__clearAllButton {
                    background-color: transparent;
                    color: #1C58D9;
                    cursor: pointer;
                    font-size: 11px;
                    font-style: normal;
                    font-weight: 600;
                    letter-spacing: 0.02em;
                    line-height: 20px;
                    padding: 6px;

                    &:hover {
                        background-color: rgba(28, 88, 217, 0.08);
                    }

                    &.disabled {
                        cursor: default;
                        color: rgba(63, 67, 80, 0.32);
                    }
                }
            }

            .DownloadsDropdown__divider {
                border-top: 1px solid rgba(61, 60, 64, 0.08);
                border-bottom: 0;
                width: 100%;
                margin: 8px 0;
            }

            .DownloadsDropdown__list {
                align-items: flex-start;
                display: flex;
                flex-direction: column;
                font-size: 12px;
                justify-content: flex-start;
                overflow-x: hidden;
                overflow-y: auto;
                width: 100%;

                .DownloadsDropdown__File {
                    align-items: center;
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    justify-content: flex-start;
                    height: 56px;
                    padding: 12px 12px 12px 20px;
                    width: 100%;

                    &.progressing {
                        height: 68px;
                    }

                    &:hover {
                        background-color: rgba(63, 67, 80, 0.08);
                    }

                    .DownloadsDropdown__File__Body {
                        align-items: center;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        width: 100%;

                        .DownloadsDropdown__File__Body__Thumbnail {
                            align-items: center;
                            background-color: rgba(63, 67, 80, 0.08);
                            border-radius: 4px;
                            display: flex;
                            height: 32px;
                            justify-content: center;
                            margin-right: 8px;
                            width: 32px;

                            > svg {
                                height: 24px;
                                margin: auto;
                                width: 24px;
                            }
                        }

                        .DownloadsDropdown__File__Body__Details {
                            margin-right: 8px;
                            /* 100% - thumbnail width - three dot button width - margins of first 2 elements */
                            width: calc(100% - 32px - 28px - 16px);

                            > * {
                                overflow: hidden;
                                text-align: left;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                width: 100%;

                                &.DownloadsDropdown__File__Body__Details__Filename {
                                    color: #3F4350;
                                    font-size: 12px;
                                    font-weight: 600;
                                }
                                &.DownloadsDropdown__File__Body__Details__FileSizeAndStatus {
                                    color: rgba(63, 67, 80, 0.64);
                                    font-size: 10px;
                                    font-weight: 400;

                                    &.cancelled {
                                        color: #D24B4E;
                                    }
                                }
                            }
                        }

                        .DownloadsDropdown__File__Body__ThreeDotButton {
                            background-color: transparent;
                            border: none;
                            border-radius: 4px;
                            color: rgba(63, 67, 80, 0.56);
                            cursor: pointer;
                            height: 28px;
                            width: 28px;

                            &:hover {
                                background-color: rgba(28, 88, 217, 0.08);
                                color: rgba(28, 88, 217, 1);
                            }
                        }
                    }

                    .DownloadsDropdown__File__ProgressBarContainer {
                        width: 100%;
                        height: 4px;
                        background-color: rgba(63, 67, 80, 0.16);
                        border-radius: 4px;
                        position: relative;
                        overflow: hidden;

                        .DownloadsDropdown__File__ProgressBar {
                            background-color: #1c58d9;
                            height: 100%;
                            left: 0;
                            position: absolute;
                            top: 0;
                            transition: all 0.2s;
                            width: 0%;
                        }
                    }
                }
            }

            &.darkMode {
                background: #1f1f1f;

                .DownloadsDropdown__header .DownloadsDropdown__Downloads {
                    color: #DDD;
                }

                .DownloadsDropdown__divider {
                    border-color: rgba(221, 221, 221, 0.08);
                }

                .DownloadsDropdown__list {
                    color: #DDD;
                }
            }
        }
    }
}
