@import url("fonts.css");
@import '~@mattermost/compass-icons/css/compass-icons.css';

html {
  height: 100%;
  font-size: 14px;
}
body {
  min-height: 100%;
  margin: 0;
}

#app {

  height: 100%;
  //font-size: 14px;
  //min-height: 100%;

  position: absolute;
  width: 100%;

  .hovering-enter {
    opacity: 0.01;
  }

  .hovering-enter.hovering-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
  }

  .hovering-exit {
    opacity: 1;
  }

  .hovering-exit.hovering-exit-active {
    opacity: 0.01;
    transition: opacity 500ms ease-in-out;
  }

  :invalid .col-form-label,
  :invalid .form-text {
    color: #333;
  }

  .modal-error {
    color: #a94442;
  }

  .topBar {
    height: 40px;
  }

  .topBar>.topBar-bg {
    display: flex;
    overflow: hidden;
    height: 40px;
    background-color: #efefef;
    width: 100%;
  }

  .topBar>.topBar-bg.unfocused {
    opacity: 0.4;
  }

  .topBar.darkMode>.topBar-bg {
    background-color: #2e2e2e;
  }

  .topBar .three-dot-menu {
    font-size: 20px;
    line-height: 20px;
    height: 36px;
    float: left;
    margin-left: 4px;
    padding-top: 5px;
    border: none;
    flex: 0 0 40px;
    z-index: 9;
    color: rgba(61,60,64,0.7);
    -webkit-app-region: no-drag;
    background-color: transparent;
  }

  .topBar .three-dot-menu i.icon-dots-vertical {
    border-radius: 100px;
    padding: 2px;
    height: 28px;
    width: 28px;
  }

  .topBar .three-dot-menu:focus {
    outline: none;
  }

  .topBar .three-dot-menu:hover i.icon-dots-vertical, .topBar .three-dot-menu:focus i.icon-dots-vertical, .topBar .three-dot-menu:active i.icon-dots-vertical {
    outline: none;
    background-color: #c8c8c8;
  }

  .topBar.darkMode .three-dot-menu:hover i.icon-dots-vertical, .topBar.darkMode .three-dot-menu:focus i.icon-dots-vertical, .topBar.darkMode .three-dot-menu:active i.icon-dots-vertical {
    background-color: #383A3F;
  }

  .topBar.macOS .three-dot-menu:hover i.icon-dots-vertical, .topBar.macOS .three-dot-menu:focus i.icon-dots-vertical, .topBar.macOS .three-dot-menu:active i.icon-dots-vertical {
    background: none !important;
  }

  .topBar.macOS .three-dot-menu {
    flex-basis: 80px;
    -webkit-app-region: drag;
  }

  .topBar.macOS.fullScreen .three-dot-menu {
    flex-basis: 0px;
  }

  .topBar.macOS .three-dot-menu>i.icon-dots-vertical {
    display: none;
  }

  .topBar.darkMode .three-dot-menu {
    color: rgba(243,243,243,0.7);
  }

  .topBar.darkMode .title-bar-btns {
    color: rgba(243,243,243,0.7);
  }

  .topBar .title-bar-btns {
    position: relative;
    line-height: 40px;
    height: 40px;
    z-index: 9;
    color: rgba(61,60,64,0.7);
    -webkit-app-region: no-drag;
    display: grid;
    grid-template-columns: repeat(3, 46px);
  }

  .topBar .title-bar-btns>.button {
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    user-select: none;
  }

  .topBar.darkMode .title-bar-btns>.button:hover {
    background: rgba(255,255,255,0.1);
  }

  .topBar.darkMode .title-bar-btns>.button:active {
    background: rgba(255,255,255,0.2);
  }

  .topBar .title-bar-btns>.button:hover {
    background: rgba(0,0,0,0.1);
  }

  .topBar .title-bar-btns>.button:active {
    background: rgba(0,0,0,0.2);
  }

  .topBar .title-bar-btns>.close-button:hover {
    background: #E81123 !important;
  }

  .topBar .title-bar-btns>.close-button:hover>img {
    filter: invert(100%);
    -webkit-filter: invert(100%);
    opacity: 1;
  }

  .topBar .title-bar-btns>.close-button:active {
    background: #f1707a !important;
  }

  .topBar .title-bar-btns>.close-button:active>img {
    filter: invert(100%);
    -webkit-filter: invert(100%);
  }

  .topBar .title-bar-btns img {
    opacity: 0.7;
  }

  .topBar.darkMode .title-bar-btns img {
    filter: invert(100%);
    -webkit-filter: invert(100%);
  }

  .topBar .title-bar-btns>.min-button {
    grid-column: 1;
  }
  .topBar .title-bar-btns>.max-button, .topBar .title-bar-btns>.restore-button {
    grid-column: 2;
  }

  .topBar .title-bar-btns>.close-button {
    grid-column: 3;
  }

  .topBar .overlay-gradient {
    flex: 0 0 40px;
    z-index: 9;
    /* background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #e5e5e5 100%); */
    -webkit-app-region: drag;
    margin-top: 4px;
  }

  .topBar.darkMode .overlay-gradient {
    /* background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #202124 100%); */
  }
}