@import url("components/index.css");
@import url("fonts.css");
@import '~@mattermost/compass-icons/css/compass-icons.css';

html {
  height: 100%;
  font-size: 14px;
}
body {
  min-height: 100%;
}

#app {
  height: 100vh;
}

.hovering-enter {
  opacity: 0.01;
}

.hovering-enter.hovering-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.hovering-exit {
  opacity: 1;
}

.hovering-exit.hovering-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in-out;
}

:invalid .col-form-label,
:invalid .form-text {
  color: #333;
}

.modal-error {
  color: #a94442;
}

.topBar {
  height: 40px;
  z-index: 9;
}

.topBar>.topBar-bg {
  display: flex;
  overflow: hidden;
  height: 40px;
  background-color: #efefef;
  width: 100%;
}

.topBar>.topBar-bg.unfocused {
  opacity: 0.4;
}

.topBar.darkMode>.topBar-bg {
  background-color: #2e2e2e;
}

.topBar .three-dot-menu {
  font-size: 20px;
  line-height: 20px;
  height: 36px;
  float: left;
  margin-left: 4px;
  padding-top: 5px;
  border: none;
  flex: 0 0 40px;
  z-index: 9;
  color: rgba(61,60,64,0.7);
  -webkit-app-region: no-drag;
  background-color: transparent;
}

.topBar .three-dot-menu i.icon-dots-vertical {
  border-radius: 100px;
  padding: 2px;
  height: 28px;
  width: 28px;
}

.topBar .three-dot-menu:focus {
  outline: none;
}

.topBar .three-dot-menu i.icon-dots-vertical.isFocused {
  outline: none;
  background-color: #c8c8c8;
}

.topBar.darkMode .three-dot-menu i.icon-dots-vertical.isFocused {
  background-color: #383A3F;
}

.topBar.macOS .three-dot-menu i.icon-dots-vertical.isFocused {
  background: none !important;
}

.topBar.macOS .three-dot-menu {
  flex-basis: 80px;
  -webkit-app-region: drag;
}

.topBar.macOS.fullScreen .three-dot-menu {
  flex-basis: 0px;
}

.topBar.macOS .three-dot-menu>i.icon-dots-vertical {
  display: none;
}

.topBar.darkMode .three-dot-menu {
  color: rgba(243,243,243,0.7);
}

.topBar .app-title {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: rgba(61,60,64,0.7);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.2px;
  z-index: 0;
  -webkit-app-region: drag;
}

.topBar.darkMode .app-title {
  color: rgba(221,221,221,0.64);
}

.full-screen-button {
  align-items: center;
  background: transparent;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4px;
  position: relative;
  width: 32px;

  i {
      color: rgba(63, 67, 80, 0.56);
      cursor: pointer;
      font-size: 21px;
      line-height: 21px;
  }

  &:hover, &:focus {
      i {
          color: rgba(63, 67, 80, 0.78);
      }
  }

  &.darkMode {
      i {
          color: rgba(221, 223, 228, 0.56);
      }

      &:hover, &:focus {
          i {
              color: rgba(221, 223, 228, 0.78);
          }
      }
  }
}

.topBar .overlay-gradient {
  flex: 0 0 40px;
  z-index: 9;
  /* background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #e5e5e5 100%); */
  -webkit-app-region: drag;
  margin-top: 4px;
}

.topBar.darkMode .overlay-gradient {
  /* background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #202124 100%); */
}
