@use 'sass:meta';

.darkMode {
    @include meta.load-css('bootstrap-dark/src/bootstrap-dark.css');
    color: #fff;

    > div.modal {
        color: #fff;

        .modal-header .modal-title, .modal-header .close {
            color: #fff;
        }

        .modal-content {
            background-color: #191B1F;
        }
    }

    .SettingsPage__spellCheckerLocalesDropdown .SettingsPage__spellCheckerLocalesDropdown__control {
        background: #242a30;
    }
    
    .SettingsPage__spellCheckerLocalesDropdown .SettingsPage__spellCheckerLocalesDropdown__menu {
        background: #242a30;
    }
    
    .SettingsPage__spellCheckerLocalesDropdown .SettingsPage__spellCheckerLocalesDropdown__option {
        background: #242a30;
    }
    
    .SettingsPage__spellCheckerLocalesDropdown .SettingsPage__spellCheckerLocalesDropdown__option:hover {
        background: rgba(255, 255, 255, 0.16);
    }
    
    #settingsModal .modal-body  {
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-width: thin;
        scrollbar-color: var(--light) rgba(255, 255, 255, 0);
    }
    
    .Toggle___switch {
        background: rgba(var(--center-channel-bg-rgb), 0.24);
    }
    
    .Toggle___switch.disabled {
        background: rgba(var(--center-channel-bg-rgb), 0.08);
    }

    .Input {
        color: var(--button-color);
        background-color: unset;

        &::placeholder {
            color: rgba(var(--button-color-rgb), 0.56);
        }
    }

    .Input_wrapper {
        color: rgba(var(--button-color-rgb), 0.56);
    }

    .Input___info {
        color: rgba(var(--button-color-rgb), 0.56);
    }

    .Input_fieldset {
        background-color: #191B1F;
        border: 1px solid rgba(#fff, 0.16);

        &:hover {
            border-color: rgba(#fff, 0.48);
        }

        &:focus-within {
            border-color: #fff;
            box-shadow: inset 0 0 0 1px #fff;
            color: var(--button-color);

            .Input_legend {
                color: var(--button-color);
            }
        }
    }

    .Input_legend {
        background-color: #191B1F;
        color: rgba(var(--button-color-rgb), 0.64);
    }

    &.disabled {
        .Input_fieldset {
            background: rgba(var(--button-color-rgb), 0.08);
        }
    }
}

