@import url("components/index.css");
@import url("fonts.css");
@import '~@mattermost/compass-icons/css/compass-icons.css';

body {
  background-color: transparent;
}

.btn-primary {
    background-color: #166de0;
    border-color: #166de0;
}
