.CloseButton:hover span {
  color: #333;
}

.IndicatorContainer {
  display: inline-block;
  padding: 1em;
}

.AutoSaveIndicator {
  padding: 5px 15px;
  margin: 0 0 0 10px;
}

.AutoSaveIndicator.AutoSaveIndicator-Leave {
  opacity: 0;
  transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.checkbox > label {
  width: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
}

#content {
  height: 100%;
}

.btn-primary {
    background-color: #166de0;
    border-color: #166de0;
}

.SettingsPage__spellCheckerLocalesDropdown {
    margin-top: 8px;
    margin-left: 16px;
    width: 50%;
}

#settingsModal .modal-content  {
    padding: 16px;
    max-height: calc(100vh - 50px);
}

#settingsModal .modal-body  {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--dark) rgba(255, 255, 255, 0);
}

#settingsModal .modal-header  {
    align-items: center;
}

@media (min-width: 862px) {
    #settingsModal {
        max-width: 786px;
    }
}
