.certificate-modal .modal,
.show-certificate .modal {
    background-color: aliceblue;
    margin-top: 40px;
}

.show-certificate .modal-dialog {
    width: 800px;
}
.modal-header {
    border-bottom: 0px;
}
.modal-header::after {
              border-bottom: solid 1px #E5E5E5;
              width: 100%;
              transform: translateY(15px);
          }
.modal-footer::before {
              border-top: solid 1px #E5E5E5;
              width: 100%;
              transform: translateY(-15px);
}
.modal-body :last-child {
    margin-bottom: 0;
}

.certificate-modal .col-sm-4 {
    padding: 0px;
    text-align: left;
}
.certificate-modal .col-sm-8 {
    padding: 0px;
}

.certificate-list thead {
    width: 557.89px;

}

.certificate-list thead>tr {
    padding: 0px 5px;
}

.certificate-list thead>tr>th {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    padding: 3px 5px;
    border-bottom: 1px solid #CCCCCC;
    color: #333333;
    height: 22px;
}

.certificate-list thead tr th:first-child span {
    padding-left: 5px;
}
.certificate-list thead tr th span {
    border-right: solid 1px #E5E5E5;
    display: block;
}
.certificate-list thead tr th:last-child span {
    border-right: none;
}

.certificate-list tbody tr {
    user-select: none;
    cursor: pointer;
    color: #555555;
}

.certificate-list tbody>tr>td {
    max-width: 165px;
    height: 47px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    padding: 15px 10px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.certificate-list tbody tr td:first-child {
    padding-left: 15px;
    max-width: 227px;
}

.certificate-list tbody tr.selected {
    background: #457AB2;
    color: #FFFFFF;
}

table.certificate-list {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    border-collapse: unset;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.0008);
    height: 150px;
}

table.certificate-list:focus {
    border: 1px solid #66AFE9;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(102, 175, 233, 0.6), inset 1px 1px 0px rgba(0, 0, 0, 0.00075);
}


.show-certificate button,
.certificate-modal button {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 9px 12px;
    line-height: 16px;
}

.show-certificate button:disabled,
.certificate-modal button:disabled {
    opacity: 0.5;
}

.show-certificate button.primary,
.certificate-modal button.primary {
    background: #457AB2;
    color: #FFFFFF;
    border: 1px solid #2E6DA4;
}


.show-certificate button.primary:hover,
.certificate-modal button.primary:hover {
    background: #659AD2;
}

.certificate-modal button.info {
    color: #457AB2;
}

.certificate-modal button.info:disabled {
    color: #000;
}

.show-certificate .subtitle,
.certificate-modal .subtitle {
    color: #737373;
    margin: 0px 0px 15px 0px;
}

.show-certificate .no-border,
.certificate-modal .no-border {
    border: none;
}

.show-certificate dl {
    overflow-y: auto;
}

.show-certificate dt, dd { 
    float: left;
    margin: 5px;
}

.show-certificate dt { 
    width: 150px;
    clear:both 
}

.show-certificate dd {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.certificate-key {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #333333;
    text-align: right;
}
.certificate-value {
    padding-top: 1px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: left;
    color: #333333;
}

.certificate-section {
    border-bottom: 1px solid #E5E5E5;
    width: 598px;
    height: 8px;
}

.show-certificate .details {
    margin: 15px;
    font-weight: bold;
    font-style: normal;
    font-size: 12px;
    line-height: 15px;
    color: #333333;
}