#extra-bar {
    max-height: 76px;
    transition: max-height 0.25s ease;
    background-color: #f5f5f5;
    -webkit-font-smoothing: antialiased;
}

#extra-bar div {
    padding: 0 0.93em 0.2em;
}

#extra-bar.hidden {
    max-height: 0px;
}

span.backLabel {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    line-height: 30px;
    font-size: 14px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #166de0;
}

span.backIcon {
    margin-right: 4px;
    font-size: 1.6rem;
}

.container-fluid button:first-child {
    padding-left: 0px;
}