.finder-input-wrapper {
  display: inline-block;
  position: relative;
}

.finder button {
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  background: white;
  outline: none;
  padding: 5px;
  cursor: pointer;
  font-size: 14px;
}

.finder button:hover {
  background: #f0f0f0;
}

.finder-input {
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  padding: 5px;
  outline: none;
  font-size: 14px;
}

.finder-input:focus {
  border-color: #35b5f4;
  box-shadow: 0 0 1px #35b5f4;
}

.finder-progress__disabled {
  display: none;
}

.finder-progress {
  position: absolute;
  font-size: 12px;
  right: 10px;
  top: 10px;
}
