.HoveringURL {
  color: gray;
  background-color: whitesmoke;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 4px;
  padding-right: 16px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-top: solid thin lightgray;
  pointer-events: none;
}

.HoveringURL-left {
  border-top-right-radius: 4px;
  border-right: solid thin lightgray;
}
