/*.mainPage,.mainPage > .container-fluid, .mainPage-viewsRow {
  height: 100%;
}*/

.MainPage .HoveringURL {
  max-width: 95%;
  position: absolute;
  bottom: 0px;
}

div[id*="-permissionDialog"] {
  max-width: 350px;
}
