/*.mainPage,.mainPage > .container-fluid, .mainPage-viewsRow {
  height: 100%;
}*/

.MainPage .HoveringURL {
  max-width: 95%;
  position: absolute;
  bottom: 0px;
}

div[id*="-permissionDialog"] {
  max-width: 350px;
}

.finder {
  position: fixed;
  top: 0;
  right: 200px;
  padding: 4px;
  background: #eee;
  border: 1px solid #d7d7d7;
  border-top: none;
  border-right: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 0px;
  -webkit-app-region: no-drag;
}

.finder.macOS {
  right: 20px;
}
