.mattermostView {
  text-align: center;
}

.mattermostView .ErrorView {
  text-align: left;
}

.mattermostView webview, .mattermostView .mattermostView-loadingScreen {
  position: absolute;
  top: 40px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.mattermostView-hidden webview {
  visibility: hidden;
  z-index: -1;
}

.mattermostView-error webview {
  z-index: -1;
}

.mattermostView-loadingScreen {
  vertical-align: middle;
  background: white;
}

.mattermostView-loadingImage {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.allow-extra-bar webview {
  top: 76px;
}