.mattermostView {
  text-align: center;
  z-index: 1;
  opacity: 1;
  visibility: visible;
}

.mattermostView-hidden {
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

.mattermostView .ErrorView {
  text-align: left;
}

.mattermostView webview {
  position: absolute;
  top: 40px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.mattermostView-hidden webview {
  visibility: hidden;
  z-index: -1;
}

.mattermostView-error webview {
  z-index: -1;
}

.allow-extra-bar webview {
  top: 76px;
}
