@import '~bootstrap-dark/src/bootstrap-dark.css';

.ServerListItem:hover {
    background: #242a30;
}

.SettingsPage__spellCheckerLocalesDropdown .SettingsPage__spellCheckerLocalesDropdown__control {
    background: #242a30;
}

.SettingsPage__spellCheckerLocalesDropdown .SettingsPage__spellCheckerLocalesDropdown__menu {
    background: #242a30;
}

.SettingsPage__spellCheckerLocalesDropdown .SettingsPage__spellCheckerLocalesDropdown__option {
    background: #242a30;
}

.SettingsPage__spellCheckerLocalesDropdown .SettingsPage__spellCheckerLocalesDropdown__option:hover {
    background: rgba(255, 255, 255, 0.16);
}
