@import url("components/index.css");

html {
  height: 100%;
}
body {
  min-height: 100%;
}

.hovering-enter {
  opacity: 0.01;
}

.hovering-enter.hovering-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.hovering-exit {
  opacity: 1;
}

.hovering-exit.hovering-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in-out;
}

.has-error .control-label,
.has-error .help-block {
  color: #333;
}

.modal-error {
  color: #a94442;
}

.topBar {
  height: 40px;
}

.topBar.macOS {
  -webkit-app-region: drag;
}

.topBar.macOS>.TabBar {
  padding-left: 80px;
}

.topBar.darkMode {
  background-color: #323639;
  color: #fff;
}

.topBar>.three-dot-menu {
  position: relative;
  font-size: 18px;
  line-height: 20px;
  height: 18px;
  float: left;
  left: 10px;
  cursor: pointer;
  width: 36px;
  z-index: 9;
  top: 8px;
  color: rgba(61,60,64,0.7);
}

.topBar.macOS>.three-dot-menu {
  display: none;
}

.topBar.darkMode>.three-dot-menu {
  color: rgba(243,243,243,0.7);
}

