
.hovering-enter {
  opacity: 0.01;
}

.hovering-enter.hovering-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.hovering-leave {
  opacity: 1;
}

.hovering-leave.hovering-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in-out;
}

.btn-tabButton {
  margin-top: 3px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-tabButton:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.has-error .control-label,
.has-error .help-block {
  color: #333;
}

.modal-error {
  color: #a94442;
}
