@font-face {
  font-family: sans-serif;
  src: local('Meiryo UI');
}

@font-face {
  font-family: 'sans-serif';
  src: local('Meiryo UI');
}

@font-face {
  font-family: monospace;
  src: local('MS Gothic');
}