.CloseButton:hover span {
  color: #333;
}

.IndicatorContainer {
  float: left;
  padding: 1em;
}

.AutoSaveIndicator {
  padding: 5px 15px;
  margin: 0 0 0 10px;
}

.AutoSaveIndicator.AutoSaveIndicator-Leave {
  opacity: 0;
  transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.TeamListItem p {
  overflow-wrap: break-word;
}

.checkbox > label {
  width: 100%;
}

body {
  overflow: hidden;
  height: 100%;
}

#content {
  height: 100%;
}