.CloseButton:hover span {
  color: #333;
}

.IndicatorContainer {
  float: left;
  padding: 1em;
}

.AutoSaveIndicator {
  padding: 5px 15px;
  margin: 0 0 0 10px;
}

.AutoSaveIndicator.AutoSaveIndicator-Leave {
  opacity: 0;
  transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.checkbox > label {
  width: 100%;
}

.settings-modal-dialog {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.modal-content {
  height: 96%;
  margin-top: 39px;
}
